{% extends "base.html" %}
{% load static %}
{% block body %}
<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Blogs</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="/">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Blogs</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

    <div class="blog" id="blog">
        <div class="container my-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col-lg-4 col-md-6 col-sm-12 card-style">
                    <div class="card border-0 shadow h-100">
                        <img src="{% static 'img/post-3.jpg'%}" class="card-img-top" alt="...">
                        <div class="card-body position-relative">
                            <h5 class="card-title pt-2">See more ideas about Travel</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This card has even longer content than the first to show that equal
                                height action.</p>
                            <div class="bg-primary position-absolute cat-style translate-middle rounded">
                                <h6 class="p-2 h6-style">WEB DESIGN</h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex flex-row justify-content-between align-items-center">
                            <div class="img-profile">
                                <img src="img/testimonial-2.jpg" class="avatar rounded-circle" alt="">
                                <a href="#"><span>Moragn freeman</span></a>
                            </div>
                            <span class="text-body-secondary"><i class="fa-regular fa-clock"></i> 3 mins</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock body %}