{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}

Subcategories

{% endblock title %}
{% block body %}
<!-- Page Header Start -->


<div class="container-fluid pt-5">
    
    <div class="row px-xl-5 pb-3">
        {% for subcategory in subcategories %}
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <p class="text-right">{{category.category_count}} Products</p>
                <a href="{{subcategory.get_url}}" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid" src="{{subcategory.image.url}}" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">{{subcategory.name}}</h5>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}