{% extends "base.html" %}
{% load static %}
{% block body %}
<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Categories</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="/">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Categories</p>
        </div>
    </div>
</div>
<!-- Categories Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        {% for category in category %}
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <p class="text-right">{{category.category_count}} Products</p>
                <a href="{{category.get_url}}" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid" src="{{category.image.url}}" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">{{category}}({{category.category}})</h5>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Categories End -->
{% endblock body %}